*.exe
*.dll
*.app
*.dylib
*.icns
*.so
*.dSYM
*.pdb
*.suo
*.user
*.userosscache
*.log
*.ts
*.sqlite

Saved/
Intermediate/
DerivedDataCache/

.vscode/
.vs/
.idea/
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.csproj
*.pidb
*.opendb
*.VC.db
*.obj

Binaries/
Build/

.DDC/
*.tmp
*.temp

.DS_Store
Thumbs.db

*.ini.bak
*.uasset.bak
*.umap.bak

*.uasset
*.umap
*.png
*.jpg
*.mp4
*.mov
*.wav
*.mp3